@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

*{
  font-family: 'Merienda', cursive; 
}

.App {
  text-align: center;
  background-color: rgb(12, 12, 12);
  color: white;
  overflow-x: hidden; 
}

nav{
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(6, 7, 7);
  align-items: center;
  box-shadow: 0px 0px 13px 6px rgba(243, 9, 9, 0.40);
}

nav h1{
  font-size: 30px;
}
ul{
  text-decoration: none;
  display: flex;
  list-style: none;
}

li{
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  background-color: rgb(219, 53, 53);
  padding: 7px;
  border-radius: 3px;
}

@media only screen and (max-width: 440px) {
  nav h1{
    font-size: 22px;
  }
  li{
    font-size: 15px;
    margin-left: 5px;
    padding: 3px;
  }
  #link-container{
    justify-content: center;
  }
}


a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#links-container{
  display: flex;
  justify-content: space-around;
}

#card{
  background-color: rgb(185, 28, 28);
  width: 40vw;
  min-width: 260px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 4px rgba(168, 50, 50, 0.10);
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

input{
  min-width: 250px;
  max-width: 500px;
  width: 40vw;
  border: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  outline: none;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

input:focus{
  border-bottom: 3px solid rgb(20, 184, 20);
}

label{
  font-size: 24px;
  display: block;
}

#fileUrl{
  display: none;
}

#createBut{
  width: 130px;
  height: 40px;
  background-color: rgb(219, 53, 53);
  border-radius: 5px;
  border: 2px solid rgb(219, 44, 44);
  box-shadow: 0px 0px 2px 4px rgba(168, 50, 50, 0.04);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
  outline: none;
}

textarea{
  min-width: 250px;
  max-width: 76vw;
  width: 40vw;
  min-height: 400px;
  max-height: 600px;
  outline: none;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  font-size: 19px;
  border-radius: 4px;
}

textarea:focus{
  border: 3px solid rgb(20, 184, 20);
}

#fileBut{
  width: 130px;
  height: 40px;
  background-color: rgb(219, 53, 53);
  border-radius: 5px;
  border: 2px solid rgb(219, 44, 44);
  box-shadow: 0px 0px 2px 4px rgba(168, 50, 50, 0.04);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: -20px;
  outline: none;
}

#createTitle{
  font-size: 30px;
}

#singIn{
  width: 130px;
  height: 40px;
  background-color: rgb(219, 53, 53);
  border-radius: 5px;
  border: 2px solid rgb(219, 44, 44);
  box-shadow: 0px 0px 2px 4px rgba(168, 50, 50, 0.04);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  outline: none;
}

#singTitle{
  font-size: 28px;
}

#singUpBut{
  width: 130px;
  height: 40px;
  background-color: rgb(219, 53, 53);
  border-radius: 5px;
  border: 2px solid rgb(219, 44, 44);
  box-shadow: 0px 0px 2px 4px rgba(168, 50, 50, 0.04);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  outline: none;
}

#singUpTitle{
  font-size: 30px;
}

img{
  max-width: 800px;
  width: 90vw;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 4px rgba(36, 20, 20, 0.04);
}

#container{
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cardText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

footer{
  background-color: white;
  color: black;
  margin-bottom: 0px;
}

#footerRender{
  min-height: 90vh;
  background-color: rgb(12, 12, 12);
  /* background: url('./images/images.jpg');
  background-size: cover;
  background-position: center; */
}

#pLink{
  color: black;
  margin-left: 10px;
}

#loaded{
  color: green;
  font-size: 23px;
}

#profilePhoto{
  min-width: 190px;
  min-height: 190px;
  max-width: 250px;
  max-height: 250px;
  width: 40vw;
  height: 40vw;
  background-color: red;
  margin: auto;
  margin-top: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  box-shadow: 0px 0px 5px 9px rgba(92, 35, 35, 0.1);
}