@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");

* {
  font-family: "Merienda", cursive;
}

.App {
  text-align: center;
  background-color: rgb(12, 12, 12);
  color: white;
  overflow-x: hidden;
}

nav {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(6, 7, 7);
  align-items: center;
  box-shadow: 0px 0px 13px 6px rgba(243, 9, 9, 0.4);
}

nav h1 {
  font-size: 30px;
}
ul {
  text-decoration: none;
  display: flex;
  list-style: none;
}

li {
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  background-color: rgb(219, 53, 53);
  padding: 7px;
  border-radius: 3px;
}

@media only screen and (max-width: 440px) {
  nav h1 {
    font-size: 22px;
  }
  li {
    font-size: 15px;
    margin-left: 5px;
    padding: 3px;
  }
  #link-container {
    justify-content: center;
  }
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#links-container {
  display: flex;
  justify-content: space-around;
}

#card {
  background-color: rgb(185, 28, 28);
  width: 77vw;
  min-width: 260px;
  margin: auto;
  max-width: 1000px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 4px rgba(168, 50, 50, 0.1);
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

input {
  min-width: 250px;
  max-width: 500px;
  width: 40vw;
  border: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  outline: none;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

input:focus {
  border-bottom: 3px solid rgb(20, 184, 20);
}

label {
  font-size: 24px;
  display: block;
}

#fileUrl {
  display: none;
}

#createBut {
  width: 130px;
  height: 40px;
  background-color: rgb(219, 53, 53);
  border-radius: 5px;
  border: 2px solid rgb(219, 44, 44);
  box-shadow: 0px 0px 2px 4px rgba(168, 50, 50, 0.04);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
  outline: none;
}

textarea {
  min-width: 250px;
  max-width: 76vw;
  width: 40vw;
  min-height: 400px;
  max-height: 600px;
  outline: none;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  font-size: 19px;
  border-radius: 4px;
}

textarea:focus {
  border: 3px solid rgb(20, 184, 20);
}

#fileBut {
  width: 130px;
  height: 40px;
  background-color: rgb(219, 53, 53);
  border-radius: 5px;
  border: 2px solid rgb(219, 44, 44);
  box-shadow: 0px 0px 2px 4px rgba(168, 50, 50, 0.04);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: -20px;
  outline: none;
}

#createTitle {
  font-size: 30px;
}

#singIn {
  width: 130px;
  height: 40px;
  background-color: rgb(219, 53, 53);
  border-radius: 5px;
  border: 2px solid rgb(219, 44, 44);
  box-shadow: 0px 0px 2px 4px rgba(168, 50, 50, 0.04);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  outline: none;
}

#singTitle {
  font-size: 28px;
}

#singUpBut {
  width: 130px;
  height: 40px;
  background-color: rgb(219, 53, 53);
  border-radius: 5px;
  border: 2px solid rgb(219, 44, 44);
  box-shadow: 0px 0px 2px 4px rgba(168, 50, 50, 0.04);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  outline: none;
}

#singUpBut:hover,
#singIn:hover,
#fileBut:hover,
#createBut:hover,
li:hover {
  background-color: rgb(170, 51, 51);
}

#singUpTitle {
  font-size: 30px;
}

img {
  max-width: 800px;
  width: 90vw;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 4px rgba(36, 20, 20, 0.04);
}

#container {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cardText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

footer {
  background-color: white;
  color: black;
  margin-bottom: 0px;
}

#footerRender {
  min-height: 90vh;
  background-color: rgb(12, 12, 12);
  /* background: url('./images/images.jpg');
  background-size: cover;
  background-position: center; */
}

#pLink {
  color: black;
  margin-left: 10px;
}

#loaded {
  color: green;
  font-size: 23px;
}

#profilePhoto {
  min-width: 190px;
  min-height: 190px;
  max-width: 250px;
  max-height: 250px;
  width: 40vw;
  height: 40vw;
  background-color: red;
  margin: auto;
  margin-top: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  box-shadow: 0px 0px 5px 9px rgba(92, 35, 35, 0.1);
}

#isLoading {
  width: 70vw;
  margin: auto;
  margin-top: 200px;
  font-size: 40px;
  text-align: center;
}

hr {
  width: 62vw;
  border: 1px solid rgb(219, 53, 53);
}

#commentContainer {
  position: relative;
  width: 80vw;
  max-width: 600px;
  margin: auto;
  box-shadow: 2px 0px 15px -1px rgba(112, 112, 112, 0.3);
  border-left: 3px solid rgb(219, 53, 53);
  border-radius: 4px;
}

@media only screen and (max-width: 420px) {
  #card {
    width: 97vw;
  }
}

#editCom {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  cursor: pointer;
  background-color: rgb(219, 53, 53);
  border-radius: 3px;
  border: none;
  outline: none;
}

#backHome {
  background-color: rgb(219, 53, 53);
  border-radius: 20px;
  box-shadow: 2px 0px 15px -1px rgba(56, 56, 56, 0.3);
  width: 50vw;
  margin: auto;
  min-width: 260px;
}

#comDelete {
  width: 50px;
  cursor: pointer;
  background-color: rgb(219, 53, 53);
  border-radius: 3px;
  border: none;
  margin-bottom: 4px;
  outline: none;
}

#comText {
  font-size: 24px;
  margin-bottom: 0;
}

#comTitle {
  font-size: 19px;
}

#comDelete:hover,
#editCom:hover,
#setProfile:hover {
  background-color: rgba(243, 9, 9, 0.4);
}

#setProfile {
  width: 70px;
  cursor: pointer;
  background-color: rgb(248, 10, 10);
  border-radius: 3px;
  border: none;
  margin-top: 8px;
  outline: none;
  transition: all 300ms;
}

#profileInput {
  display: none;
}

#imapePhoto {
  min-width: 192px;
  min-height: 192px;
  max-width: 252px;
  max-height: 252px;
  width: 41vw;
  height: 41vw;
  border-radius: 50%;
}

#deletAccBut {
  background-color: rgb(255, 255, 255);
  padding: 4px;
  color: rgb(248, 10, 10);
  border-radius: 4px;
  outline: none;
  box-shadow: 2px 0px 15px -1px rgba(165, 38, 38, 0.3);
  border: solid rgb(248, 10, 10) 2px;
  font-weight: bolder;
  font-size: 13px;
  cursor: pointer;
  transition: all 300ms;
}

#deletAccBut:hover {
  background-color: rgb(185, 28, 28);
  color: white;
}

#deleteContainer {
  position: relative;
  width: 70vw;
  margin: auto;
  min-width: 250px;
  max-width: 650px;
  margin-top: 10px;
  padding: 4px;
  padding-bottom: 7px;
  border-radius: 5px;
  border: 2px solid red;
  box-shadow: 2px 0px 15px -1px rgba(144, 140, 140, 0.3);
  transition: all 300ms;
}

#closePopUp {
  position: absolute;
  top: 5px;
  right: 5px;
  outline: none;
  cursor: pointer;
  border: 0px solid rgb(219, 53, 53);
  color: white;
  background-color: rgb(170, 12, 12);
  border-radius: 7px;
  width: 37px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 23px;
  transition: all 300ms;
}

#noBut {
  width: 75px;
  height: 33px;
  margin-right: 60px;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 1px rgba(54, 53, 53, 0.3);
  border: 2px solid rgb(211, 3, 3);
  background-color: red;
  font-size: 19px;
  text-align: center;
  font-weight: 900;
  transition: all 300ms;
}

#yesBut {
  width: 75px;
  height: 33px;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 1px rgba(54, 53, 53, 0.3);
  font-size: 19px;
  border: none;
  text-align: center;
  font-weight: 900;
  transition: all 300ms;
}

.yesBut {
  width: 75px;
  height: 33px;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 1px rgba(54, 53, 53, 0.3);
  border: 2px solid rgb(211, 3, 3);
  background-color: red;
  font-size: 19px;
  text-align: center;
  font-weight: 900;
  transition: all 300ms;
}

#noBut:hover,
.yesBut:hover,
#closePopUp:hover {
  background-color: rgb(98, 29, 29);
}

#yesBut:hover {
  background-color: rgb(110, 110, 110);
}

#edited {
  margin: 0;
  padding: 0;
  display: block;
  color: rgb(87, 87, 87);
}

#like {
  font-size: calc(20px + 0.5vw);
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(226, 7, 7);
  transition: all 300ms;
}

#dislike {
  font-size: calc(20px + 0.5vw);
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: all 300ms;
}

#likeContainer {
  width: 40vw;
  min-width: 200px;
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

#likeLine {
  width: 100%;
}

#like:hover,
#dislike:hover {
  color: rgb(124, 46, 46);
}

#mainLikeContainer {
  width: 40vw;
  min-width: 200px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

#profileLink {
  text-decoration: red;
  text-decoration-line: underline;
}

.profilePosts {
  width: 70vw;
  max-width: 600px;
  min-width: 240px;
  margin: auto;
  border-bottom: 2px solid rgb(226, 7, 7);
  margin-bottom: 10px;
}

.detailContainer {
  width: 44vw;
  max-width: 500px;
  min-width: 200px;
  border-bottom: 2px solid rgb(226, 7, 7);
  margin: auto;
}

.postLink {
  transition: all 800ms ease-in-out;
}

.postLink:hover {
  text-decoration: red;
  text-decoration-line: underline;
}
